<!DOCTYPE html>
{% extends 'top--1.html' %}
{% block page_content %}
    <div id="info_wawj">
        <div style="margin-left: 130px;">
            <h1>{{ terrace }}房源</h1>
        </div>
        <ul id="info_li">
            {% for img in range(ljlen) %}
                <li>
                    <div class="info_div">
                        <a href="/houseinfo/{{ 'sql_lj' }}/{{ lj_houseid[img] }}?house={{ lj_houseinfo[img] }}"
                           target="_blank">
{#                            {{ list(lj_images[img]) }}#}
                            <img src={{ lj_images[img]}}></a>
                        {#                            <img src={{ lj_images }}></a>#}
                        <br>
                        <span>{{ lj_house[img] }}
                            <br>
                            链家房源
                        </span>
                    </div>
                </li>

            {% endfor %}
        </ul>
    </div>


{% endblock %}