<!DOCTYPE html>
{% extends 'top--1.html' %}
{% block page_content %} {#page_content 是base.html中自己定义的一个内容块#}

    <div class="nav2">
{#    <form action="pageinfo" id="home_seek" method="post">#}
    <form action="/" method="post">
        {{ form.csrf_token }}   {#跨站请求伪造#}
        {{ form.title(size = '100') }}   {# 搜索框 #}
        {{ form.submit(size='50') }}   {# 按钮 #}
    </form>
   <div>
    <ul class="nav">
        <li class="one_li"><a href="">全部</a></li>
        <li class="one_li"><a href="/region/{{ '朝阳区' }}" target="_blank">朝阳</a></li>
        <li class="one_li"><a href="/region/{{ '海淀区' }}" target="_blank">海淀</a></li>
        <li class="one_li"><a href="/region/{{ '东城区' }}" target="_blank">东城</a></li>
        <li class="one_li"><a href="/region/{{ '西城区' }}" target="_blank">西城</a></li>
        <li class="one_li"><a href="/region/{{ '丰台区' }}" target="_blank">丰台</a></li>
        <li class="one_li"><a href="/region/{{ '石景山' }}" target="_blank">石景山</a></li>
        <li class="one_li"><a href="/region/{{ '通州区' }}" target="_blank">通州</a></li>
        <li class="one_li"><a href="/region/{{ '昌平区' }}" target="_blank">昌平</a></li>
        <li class="one_li"><a href="/region/{{ '大兴' }}" target="_blank">大兴</a></li>
        <li class="one_li"><a href="/region/{{ '亦庄' }}" target="_blank">亦庄</a></li>
        <li class="one_li"><a href="/region/{{ '顺义' }}" target="_blank">顺义</a></li>
        <li class="one_li"><a href="/region/{{ '房山区' }}" target="_blank">房山</a></li>
        <li class="one_li"><a href="/region/{{ '门头沟' }}" target="_blank">门头沟</a></li>
        <li class="one_li"><a href="/region/{{ '平谷区' }}" target="_blank">平谷</a></li>
        <li class="one_li"><a href="/region/{{ '怀柔' }}" target="_blank">怀柔</a></li>
        <li class="one_li"><a href="/region/{{ '密云' }}" target="_blank">密云</a></li>
        <li class="one_li"><a href="/region/{{ '延庆' }}" target="_blank">延庆</a></li>
    </ul>
</div>

<div id="info_style">
	<div style="margin-left: 130px;">
		<h1>推介房源</h1>
	</div>
	<ul id="info_li">

	        <li>
	            <div class="info_div">
	                <a href="https://bj.5i5j.com/zufang/500477627.html" target="_blank"><img
	                        src="http://image2.5i5j.com//group2/M00/CB/73/CgqJNF30okCAEeSyAAHZPVrfscw905.jpg.240x195.jpg"
	                        alt="" ></a>
	                <br>

	                <span>万泉庄新上两居室 急租</span>
	            </div>
	        </li>
			<li>
			    <div class="info_div">
			        <a href="https://bj.5i5j.com/zufang/500477627.html" target="_blank"><img
			                src="http://image2.5i5j.com//group2/M00/CB/73/CgqJNF30okCAEeSyAAHZPVrfscw905.jpg.240x195.jpg"
			                alt="" ></a>
			        <br>

			        <span>万泉庄新上两居室 急租</span>
			    </div>
			</li>
			<li>
			    <div class="info_div">
			        <a href="https://bj.5i5j.com/zufang/500477627.html" target="_blank"><img
			                src="http://image2.5i5j.com//group2/M00/CB/73/CgqJNF30okCAEeSyAAHZPVrfscw905.jpg.240x195.jpg"
			                alt="" ></a>
			        <br>

			        <span>万泉庄新上两居室 急租</span>
			    </div>
			</li>
			<li>
			    <div class="info_div">
			        <a href="https://bj.5i5j.com/zufang/500477627.html" target="_blank"><img
			                src="http://image2.5i5j.com//group2/M00/CB/73/CgqJNF30okCAEeSyAAHZPVrfscw905.jpg.240x195.jpg"
			                alt="" ></a>
			        <br>

			        <span>万泉庄新上两居室 急租</span>
			    </div>
			</li>
			<li>
			    <div class="info_div">
			        <a href="https://bj.5i5j.com/zufang/500477627.html" target="_blank"><img
			                src="http://image2.5i5j.com//group2/M00/CB/73/CgqJNF30okCAEeSyAAHZPVrfscw905.jpg.240x195.jpg"
			                alt="" ></a>
			        <br>

			        <span>万泉庄新上两居室 急租</span>
			    </div>
			</li>
			<li>
			    <div class="info_div">
			        <a href="https://bj.5i5j.com/zufang/500477627.html" target="_blank"><img
			                src="http://image2.5i5j.com//group2/M00/CB/73/CgqJNF30okCAEeSyAAHZPVrfscw905.jpg.240x195.jpg"
			                alt="" ></a>
			        <br>

			        <span>万泉庄新上两居室 急租</span>
			    </div>
			</li>
			<li>
			    <div class="info_div">
			        <a href="https://bj.5i5j.com/zufang/500477627.html" target="_blank"><img
			                src="http://image2.5i5j.com//group2/M00/CB/73/CgqJNF30okCAEeSyAAHZPVrfscw905.jpg.240x195.jpg"
			                alt="" ></a>
			        <br>

			        <span>万泉庄新上两居室 急租</span>
			    </div>
			</li>
			<li>
			    <div class="info_div">
			        <a href="https://bj.5i5j.com/zufang/500477627.html" target="_blank"><img
			                src="http://image2.5i5j.com//group2/M00/CB/73/CgqJNF30okCAEeSyAAHZPVrfscw905.jpg.240x195.jpg"
			                alt="" ></a>
			        <br>

			        <span>万泉庄新上两居室 急租</span>
			    </div>
			</li>
			<li>
			    <div class="info_div">
			        <a href="https://bj.5i5j.com/zufang/500477627.html" target="_blank"><img
			                src="http://image2.5i5j.com//group2/M00/CB/73/CgqJNF30okCAEeSyAAHZPVrfscw905.jpg.240x195.jpg"
			                alt="" ></a>
			        <br>

			        <span>万泉庄新上两居室 急租</span>
			    </div>
			</li>
			<li>
			    <div class="info_div">
			        <a href="https://bj.5i5j.com/zufang/500477627.html" target="_blank"><img
			                src="http://image2.5i5j.com//group2/M00/CB/73/CgqJNF30okCAEeSyAAHZPVrfscw905.jpg.240x195.jpg"
			                alt="" ></a>
			        <br>

			        <span>万泉庄新上两居室 急租</span>
			    </div>
			</li>
			<li>
			    <div class="info_div">
			        <a href="https://bj.5i5j.com/zufang/500477627.html" target="_blank"><img
			                src="http://image2.5i5j.com//group2/M00/CB/73/CgqJNF30okCAEeSyAAHZPVrfscw905.jpg.240x195.jpg"
			                alt="" ></a>
			        <br>

			        <span>万泉庄新上两居室 急租</span>
			    </div>
			</li>
			<li>
			    <div class="info_div">
			        <a href="https://bj.5i5j.com/zufang/500477627.html" target="_blank"><img
			                src="http://image2.5i5j.com//group2/M00/CB/73/CgqJNF30okCAEeSyAAHZPVrfscw905.jpg.240x195.jpg"
			                alt="" ></a>
			        <br>

			        <span>万泉庄新上两居室 急租</span>
			    </div>
			</li>
			<li>
			    <div class="info_div">
			        <a href="https://bj.5i5j.com/zufang/500477627.html" target="_blank"><img
			                src="http://image2.5i5j.com//group2/M00/CB/73/CgqJNF30okCAEeSyAAHZPVrfscw905.jpg.240x195.jpg"
			                alt="" ></a>
			        <br>

			        <span>万泉庄新上两居室 急租</span>
			    </div>
			</li>
			<li>
			    <div class="info_div">
			        <a href="https://bj.5i5j.com/zufang/500477627.html" target="_blank"><img
			                src="http://image2.5i5j.com//group2/M00/CB/73/CgqJNF30okCAEeSyAAHZPVrfscw905.jpg.240x195.jpg"
			                alt="" ></a>
			        <br>

			        <span>万泉庄新上两居室 急租</span>
			    </div>
			</li>
			<li>
			    <div class="info_div">
			        <a href="https://bj.5i5j.com/zufang/500477627.html" target="_blank"><img
			                src="http://image2.5i5j.com//group2/M00/CB/73/CgqJNF30okCAEeSyAAHZPVrfscw905.jpg.240x195.jpg"
			                alt="" ></a>
			        <br>

			        <span>万泉庄新上两居室 急租</span>
			    </div>
			</li>
	    </ul>
	</div>


</div>
{% endblock %}

